html
{
	height:100%;
	width:100%;
}

body
{
	background-image:url(../images/tworld.jpg);
	background-position:top center;
	background-size:100% 108.5%;
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	padding-top: 66px;
}
h1
{
	margin:0;
	padding:0;
}
.scroll-wrapper
{
	height:100%;
	width:100%;
	overflow-y:scroll;
}
.page-wrapper
{
	height:100%;
	width:100%;
	margin:0% 0%;
	padding:0;
}
.navbar 
{
	border-radius: 0px;
	background-color: white;
	height: 10%;
	margin: 0%;
	box-shadow: 0px 1px 20px black;
}
.page-container
{
	height:100%;
	width:100%;
	margin:0;
	text-align:center;
}
.app-container
{
	height:100%;
	width:55%;
	margin:auto;
	padding:6%;
}
.app-background
{
	height: 80%;
	width: 86%;
	margin-top: 5%;
	margin: auto;
	padding: 0;
	box-shadow: 0px 0px 9px 1px #428bca;
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.9);
}
.select-buttons
{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.random-search
{
	display:none;
	height:100%;
	width:100%;
	margin:0;
	padding:4%;
}
.specific-search
{
	display:none;
	height:100%;
	width:100%;
	margin:0;
	padding:4%;
}
.select-header
{
	height: 10%;
    margin: 0;
    padding: 0;
}
.widget-container
{
	height:28%;
	width:100%;
	margin:0;
	padding:7% 5%;
}
.random-search-back
{
	height:11%;
	width:100%;
	margin:0;
	padding: 0% 90% 0% 0%;
}
.specific-search-back
{
	height:13%;
	width:100%;
	margin:0;
	padding: 0% 90% 0 0;
}
.specific-back-button
{
	height:87%;
	width:100%;
	margin:0;
	padding:0;
}
.option-button
{
	height:50%;
	margin:0;
	padding:1%;
}
.option-label
{
	margin:0;
	padding:1%;
}
.label-header
{
	height:100%;
	margin:0;
	padding:10% 0%;
}
.label-icon
{
	height:100%;
	margin:0;
	padding:10% 0%;
}
.stredming-wrapper
{
	height: 100%;
	width: 100%;
	padding: 0% 10%;
	display: none;
	background-size: 100% 103%;
	background-repeat: no-repeat;
	background-image: url(../images/newrukes.jpg);
}
.stredming-container
{
	height:100%;
	width:100%;
	background-color: rgba(255, 255, 255, 0.85);
}
.stredming-top
{
	margin:0;
	padding: 3% 2% 0% 2%;
	height: 36%;
}
.stredming-bottom
{
	margin: 0;
	padding: 0% 1% 2% 1%;
	height: 64%;
}
.stredming-player-container
{
	height: 90%;
	padding-left: 0%;
}
.stredming-result
{
	height:100%;
	width:100%;
	box-shadow: 0 0 6px 2px black;
}
.stredming-tracklist
{
	box-shadow: 0 0 6px 2px black;
	height: 90%;
	margin: 0;
	overflow-y: scroll;
	padding: 1%;
}
.twitter-container
{
	padding:1%;
	height:100%;
}
.twitter-timeline
{
	width: 95%;
	height: 330px;
	margin: 0% 1%;
	box-shadow: 0px 0px 6px 2px black;
}
.promotion-container 
{
	height:100%;
	padding: 1%;
}
.promotion 
{
	box-shadow: 0px 0px 6px 2px black;
}
.concert-title 
{
	margin:0%;
}
.concert-link
{
	font-size: 20px;
	color:black;
	margin: 0% 0% 0% 2%;
}
.concert-link:hover 
{
	color:#AA00FF;
	text-decoration: none;
}
.picture 
{
	padding: 0% 2% 0% 2%;
}
.edco
{
	height: inherit;
	width: 100%;
	box-shadow: 0px 0px 2px 2px black;
	margin: 0%;
}
.text-container
{
	padding: 2% 2% 0% 2%;
}
.event-description
{
	font-weight: 600;
	color: black;
	font-size:17px;
}
.tag-link
{
	font-size: 17px;
	color:black;
}
.tag-link:hover 
{
	color:#AA00FF;
	text-decoration: none;
}
.instagram-container
{
	height:100%;
	padding:1%;
}
.instagram
{
	height: 98.5%;
	padding: 0%;
	box-shadow: 0px 0px 6px 2px black;
}
.tintup 
{
	overflow: auto;
	position: relative;
	height: 330px;
	width: 100%;
	border-radius: 0px;
	padding-top: 0%;
}
.logo 
{
	width: 200px;
}
.header-logo
{
	vertical-align: middle;
	width: 41%;
	padding: 0% 0% 0% 0%;
	margin: 0% 0% 0% 57%;
}
.brand
{
	float: left;
	padding: 17% 0% 0% 0%;
	font-size: 7em;
	line-height: 20px;
	font-weight: 500;
	font-family: rage;
}

.links-menu
{
	margin: 3% 0% 0% 15%;
}
.stredming
{
	background-color: rgba(0, 0, 0, 0.9);
	height: 32%;
	display: none;
	margin-right: 5%;
	border-radius: 8px;;
}
.stredming-header
{
	color: white;
	margin:0;
	padding:0;
}
.stredming-header h1
{
	margin: 0;
	padding: .5% .5%;
	font-size: 175%;
	font-weight: 500;
}
.result
{
	height: 100%;
	padding: 0%;
}
.stredm-logo
{
	height:98%;
}
.stredm-panel-container
{
	padding: 1% 0% 0% 0%;
	height: 98%;
	right: 1%;
}

.stredm-panel
{
	background-color: rgba(0,0,0,.9);
	height: 100%;
	border-radius: 11px;
}
.stredm-select-container
{
	height: 100%;
}
.select-container
{
}
.event-select
{
	margin:0;
	padding:5% 0%;
}
.artist-select
{
	margin:0;
	padding:5% 0%;
}
.select-text
{
	color: white;
	font-size: 2.2em;
	font-family: test;
	letter-spacing: 2px;
	margin: -1.5% 0% 1% 0%;
	padding: 0% 0% 0% 4%;
}
.select-form
{
	padding:0;
}
.instructions-container
{
	color: #FFFFFF;
	line-height: 300%;
	text-align: center;
	font-size: 2.2em;
	height:48%;
}
.random-button-container
{
	text-align:center;
	padding:32% 0 0 0;
}
.specific-button-container
{
	text-align:center;
	padding:0;
}
.btn-sample {
color: #FFFFFF;
padding: 10px 12px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #357EBD;
background-image: -moz-linear-gradient(top, #428BCA, #357EBD);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#428BCA), to(#357EBD));
background-image: -webkit-linear-gradient(top, #428BCA, #357EBD);
background-image: -o-linear-gradient(top, #428BCA, #357EBD);
background-image: linear-gradient(to bottom, #428BCA, #357EBD);
background-repeat: repeat-x;
border-color: #357EBD;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-size: 16px;
font-weight: 500;
font-family: "Avantgarde", sans-serif;
letter-spacing: 1px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428BCA', endColorstr='#357EBD', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@font-face 
{
	font-family:'rage';
	src:url('../fonts/rage.ttf');
}

@font-face 
{
	font-family:'cabin';
	src:url('../fonts/cabin.ttf');
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
input[type=text]
{
	
}

@media only screen and (max-width: 768px) 
{

.content-wrapper
{
	background-position: -198% 65%;
	background-size: 170% 80%;
}
.stredm-panel-container
{
	right:0%;
	padding: 1% 1% 0;
	font-size: 51.5%;
}
.top-menu
{
	font-size: 170%;
	margin: 0;
}
.stredming-container
{
	display:none;
	height:33%;
}
.stredm-logo
{
	display:none;
}
.stredming
{
	margin-right:0;
	height:100%;
}
.stredming-results
{
	height:80%;
}
.result
{
	height:100%;
}
.links-menu 
{
	margin: 0;
}

}

@media only screen and (max-width: 1200px) 
{
.stredm-panel-container
{
	font-size: 74%;
}
}
